@font-face {
    font-family: 'defconzero';
    src: url('fonts/defconzero.ttf');
    src: url('fonts/defconzero.ttf') format('truetype'),
}


body {
  font-family: "defconzero";
  margin:0;
  background: url("assets/websitebg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  color:white;
}

.navbar-img {
  position: fixed;
  width: 90%;
  top:10%;
}

.navbar-link {
  color:white;
  font-size: 2rem;
}

.navbar-link:hover {
  color:white;
}

.modal-title {
  color:black;
}

.textbox {
  position:fixed;
  width:70%;
  top:25%;
}

.presentation-text {
  position:fixed;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  width: 65%;
  max-height: 50%;
  top:30%;
  line-height: 2.2rem;
  overflow: scroll;
}

.sign-up {
  width: 55%;
}

.sign-up-btn {
  font-size:2rem;
  color:white;
  cursor: pointer;
}

.sign-up-btn:hover{
  color:white
}

.social-media-logo {
  margin:0;
}

.email-input {
  width: 80%;
}

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}


@media (max-width:1370px) {

.presentation-text {
font-size:2rem;
max-height:40%;

}

}

@media (max-width:1250px) {

.presentation-text {
font-size:1.5rem;
max-height:40%;

}

}

@media (max-width:1024px) {

.presentation-text {
font-size:1rem;
max-height:30%;

}

}

@media (max-width:735px) {

.presentation-text {
font-size:1rem;
max-height:18%;

}


}

