@font-face {
    font-family: 'defconzero';
    src: url('fonts/defconzero.ttf');
    src: url('fonts/defconzero.ttf') format('truetype'),
}


body {
  font-family: "defconzero";
  margin:0;
  background: url("assets/marketing3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  color:white;
}

.navbar-img {
  position: fixed;
  width: 90%;
  top:10%;
}

.navbar-link {
  color:white;
  font-size: 2rem;
}

.modal-title {
  color:black;
}

.textbox {
  position:fixed;
  width:70%;
  top:25%;
}

.presentation-text {
  position:fixed;
  width: 65%;
  top:30%;
  line-height: 1.8rem;
}

.sign-up {
  width: 55%;
}

.sign-up-btn {
  font-size:2rem;
  color:white;
}

.social-media-logo {
  margin:0;
}

.email-input {
  width: 80%;
}
